<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    
    <a class="navbar-brand active" style="margin-left: 50px; " href="https://www.iti.gov.eg/iti/about-us">
        <i class="fa fa-info-circle h-50"  aria-hidden="true"></i>
        About us
    </a>
    <span class="nav-item" style="margin-left:1000px; " >
        <a class="nav-link text-white" href="#">Home</a>
    </span>
      <span class="nav-item ">
        <a class="nav-link text-white " href="#">Events</a>
      </span>
  </nav>



<ul class="nav  justify-content-end bg-light text-dark">
    <img src="./assets/Images/logo with words.png" style="height: 100px; " class="d-inline-block align-top" alt="">

      <li class="nav-item ">
        <a class="nav-link text-dark" routerLink="/login">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/login">Speaker</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/login">Admin</a>
        </li>
  </ul>
