<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
               
                <div class="col-md-6 item text">
                    <h3>Contact Us</h3>
                    <p>
                        <i class="fa fa-address-card" aria-hidden="true">
                            28 Km by Cairo / Alexandria Desert Road, 6 October, B148, Egypt
                        </i>
                    </p>
                    <p>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                           (+202)353-55656
                        
                    </p>
                    <p>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                            ITIinfo@iti.gov.eg
                        
                    </p>
                </div>
                <div class="col item social">
                    <h3>Follow Us</h3>
                    <a href="https://www.facebook.com/ITIchannel/"><i class='fa fa-facebook'></i></a>
                    <a href="https://twitter.com/iti_channel"><i class='fa fa-twitter-square'></i></a>
                    <a href="https://www.youtube.com/user/itichannel">
                        <i class='fa fa-youtube-play'></i></a>
                </div>
            </div>
            <p class="copyright">Institute of Information Technology © 2018</p>
        </div>
    </footer>

</div>

