<a routerLink="/admin/events/add">Add Event</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>Main Speaker</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{event.id}}</td>
            <td>{{event.title}}</td>
            <td>{{event.eventDate|date}}</td>
            <td>{{event.mainSpeaker}}</td>
            <td>
                <a class="btn btn-success" [routerLink]="['/admin/events/details',event.id]">Details</a>
            </td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/admin/events/edit',event.id]">Edit</a>
            </td>
            <td>
                <a class="btn btn-danger" [routerLink]="['/admin/events/delete',event.id]">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

